/* src/components/Notification/Notification.module.css */
.notification {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 6px;
  padding: 10px 15px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
}

.notification svg {
  margin-right: 10px;
  font-size: 18px;
}

.notificationText {
  font-size: 14px;
  color: #555;
}

/* Tipos de notificação para cores diferentes */
.success {
  background-color: #e6ffe6; /* Light green */
  color: #28a745; /* Dark green */
}
.success svg {
  color: #28a745;
}

.info {
  background-color: #e0f2f7; /* Light blue */
  color: #007bff; /* Dark blue */
}
.info svg {
  color: #007bff;
}

.warning {
  background-color: #fff3e6; /* Light orange */
  color: #ff9800; /* Dark orange */
}
.warning svg {
  color: #ff9800;
}