.card {
  background-color: #1a1a1a;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  color: #f0f0f0;
}

.cardTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.offerList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.offerItem {
  display: flex;
  align-items: center;
  background-color: #2a2a2a;
  border-radius: 6px;
  padding: 10px 15px;
}

.offerDetails {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.offerName {
  font-weight: bold;
  color: white;
  margin-bottom: 3px;
}

.offerRole, .offerTime {
  font-size: 0.85em;
  color: #bbb;
}

.offerStatus {
  background-color: #007bff; /* Azul para status "Novo" */
  color: white;
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 0.75em;
  font-weight: bold;
  margin-right: 15px;
  min-width: 50px;
  text-align: center;
}

.viewButton {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.85em;
}