.appContainer {
  display: flex;
  min-height: 100vh;
  background-color: #f0f2f5; /* Um cinza claro para o fundo */
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.pageContent {
  padding: 30px;
  flex-grow: 1;
}