.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px 0;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.logo {
  text-align: center;
  margin-bottom: 40px;
}

.logo h1 {
  font-size: 24px;
  color: #333;
}

.navigation ul {
  list-style: none;
  padding: 0;
}

.navigation li {
  margin-bottom: 10px;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #555;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.navItem:hover {
  background-color: #e2e6ea;
}

.navItem.active {
  background-color: #007bff; /* Azul para o item ativo */
  color: white;
  border-radius: 0 5px 5px 0;
}

.icon {
  margin-right: 10px;
  font-size: 18px;
}